*{
    font-family: 'Rubik', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
     color:inherit; 
     text-decoration:none;
}

.fa-laptop-code{
    font-size:32px;
    margin-right:8px;
}

.fa-laptop-code-desc{
    font-size: 96px;
}

.bg-main{
    background-color: #633a82;
}

.bg-main2{
    background-color: #72b5b7;
}

.bg-main3{
    background-color: #40e0d0;
}

.bg-main4{
    background-color: #f1fcfc;
}

.h-with-nav{
    min-height: calc(100vh - 56px);
}

.h-onepage{
    min-height: calc(100vh - 112px);
}

.h-with-nav-half{
    min-height: calc(50vh - 28px);
}

.h-landing{
    height: calc(100vh - 56px);
}

.pfp{
    width:75%;
    height:75%;
}

.object-fit-cover{
    object-fit: cover !important;
} 

#about{
    width:56px;
    height:56px;
    position: absolute;
    transform:translateY(-56px);
}

.btn-main{
    background-color: #633a82;
    color:white;
}

.btn-main:hover{
    background-color: #72b5b7;
    color:black;
}

.btn-main4{
    background-color: #f1fcfc;
    color:black;
}

.btn-main4:hover{
    background-color: #72b5b7;
    color:white;
}

.border-main4{
    border:10px solid #f1fcfc;
    border-radius:13px;
}

.nihongo-symbol{
    height:76px;
}

.about-box{
    min-height:400px;
}



.skill-main, .skill-main-pc{
    width:20px;
    height:48px;
    transition: 0.25s
}

.skill-icon{
    height:32px;
    width:32px;
}

.education-container{
    height:150px;
    width:150px;
}

.education-icon{
    height:120px;
    width:120px;
    object-fit: cover;
}

.education-icon-ykb{
    height:120px;
    width:120px;
    object-fit: contain;
}

.skills-mobile{
    display: none;
}

.jumbotron{
    background-image: url(../images/tenki.png);
    background-size: cover;
}

.anime-art{
    height:250px;
    width:400px;
}

.modal-pic{
    width:100%;
    height:350px;
    object-fit: fill;
}

.carousel-main{
    width:100%;
    height:calc(100vh - 56px);
    object-fit: cover;
}

@media(max-width:968px){
    .education-container{
        height:170px;
        width:170px;
    }

    .education-icon{
        height:140px;
        width:140px;
        object-fit: cover;
    }
    
    .education-icon-ykb{
        height:130px;
        width:130px;
        object-fit: contain;
    }
    .h-landing{
        min-height:calc(100vh - 56px);
    }
    .profile-pic{
        margin-top:20px;
    }
    .profile-desc{
        margin:20px 0;
        text-align: center;
    }
    .profile-title{
        font-size:1.75rem;
    }
    .profile-text{
        font-size:1.5rem;
    }
    .pfp{
        height:280px;
        width:280px;
    }
    .skills-mobile{
        display:block;
    }
    .skills-pc{
        display: none;
    }
    .contact-list{
        margin-top:-100px;
    }
    .h-with-nav-half-list{
        min-height: calc(50vh - 28px - 56px);
    }
}