{% extends "personal_site/base.html" %}
{% block content %}
{% load static %}
    <div class="bg-main3">
        <div class="container-fluid h-landing">
            <div class="row h-100">
                <div class="col-lg-6 col-sm-12 h-lg-100 d-flex justify-content-center align-items-center profile-pic">
                    <img class="object-fit-cover rounded-lg pfp" src={% static "images/pfp.jpg" %}>
                </div>
                <div class="col-lg-6 col-sm-12 h-lg-100 d-flex flex-column justify-content-center align-items-lg-start profile-desc">
                    <h1 class="profile-title">Hello, I am Steven.</h1>
                    <h3 class="m-2 profile-text">
                        Web developer specializing in Fullstack web development from Jakarta, Indonesia, helping businesses or individuals.
                    </h3>
                    <div class="ml-2 mt-2">
                        <a href="#about"><button type="button" class="btn btn-main mr-2">Things I do</button></a>
                        <a href="#contact"><button type="button" class="btn btn-main4">Contact me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-main2 h-with-nav">
        <div id="about"></div>
        <h1 class="pt-4 text-light text-center">Who am I?</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                    <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column">
                        <i class="fas fa-laptop-code fa-laptop-code-desc text-light my-3"></i>
                        <h4 class="text-light">Fullstack Web Developer</h4>
                        <h5 class="text-light">
                            Designing website in order to fulfill a client’s primary goal with a website
                            using latest web development technologies.
                        </h5>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                    <div class="about-box bg-main3 border-main4 p-2 text-center">
                        <img src={% static "images/jakun.jpg" %} class="h-75 w-75 my-3">
                        <h5 class="text-light">Me wearing my UI’s alma mater jacket in front of the rektorat building</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 p-2 d-flex align-items-center justify-content-center">
                    <div class="about-box bg-main3 border-main4 p-2 text-center d-flex justify-content-center align-items-center flex-column">
                        <img src={% static "images/nihongo.svg" %} class="nihongo-symbol my-3">
                        <h4 class="text-light">Japanese Language Enthusiast</h4>
                        <h5 class="text-light">
                            JLPT N2 certified and is able to bring translations into English and Bahasa Indonesia
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-main3 h-with-nav skills-pc">
        <div class="row">
            <div class="col-lg-8 p-3 d-flex align-items-center justify-content-center flex-column h-with-nav">
                <h1 class="m-4">About skill: <span id="skill-name">...</span></h1>
                <h3 class="text-center mb-4">
                    <span id="skill-desc">Click on a skill to see the detailed view</span>
                </h3>
            </div>
            <div class="col-lg-4 p-3 d-flex align-items-center justify-content-center flex-column h-with-nav">
                <div class="w-75 d-flex">
                    <div class="skill-main-pc bg-main2"></div>
                    <div class="bg-main4 w-100 p-2 mb-2 d-flex align-items-center justify-content-between skill-btn">
                        <h4 class="m-0">HTML/CSS</h4>
                        <img class="skill-icon" src={% static "icons/html.svg" %}>
                        <img class="skill-icon" src={% static "icons/css.svg" %}>
                    </div>
                </div>
                <div class="w-75 d-flex">
                    <div class="skill-main-pc bg-main2"></div>
                    <div class="bg-main4 w-100 p-2 mb-2 d-flex align-items-center justify-content-between skill-btn">
                        <h4 class="m-0">Javascript</h4>
                        <img class="skill-icon" src={% static "icons/javascript.svg" %}>
                    </div>
                </div>
                <div class="w-75 d-flex">
                    <div class="skill-main-pc bg-main2"></div>
                    <div class="bg-main4 w-100 p-2 mb-2 d-flex align-items-center justify-content-between skill-btn">
                        <h4 class="m-0">Python</h4>
                        <img class="skill-icon" src={% static "icons/python.svg" %}>
                    </div>
                </div>
                <div class="w-75 d-flex">
                    <div class="skill-main-pc bg-main2"></div>
                    <div class="bg-main4 w-100 p-2 mb-2 d-flex align-items-center justify-content-between skill-btn">
                        <h4 class="m-0">Django</h4>
                        <img class="skill-icon" src={% static "icons/django.svg" %}>
                    </div>
                </div>
                <div class="w-75 d-flex">
                    <div class="skill-main-pc bg-main2"></div>
                    <div class="bg-main4 w-100 p-2 mb-2 d-flex align-items-center justify-content-between skill-btn">
                        <h4 class="m-0">React.js</h4>
                        <img class="skill-icon" src={% static "icons/react.svg" %}>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-main3 h-with-nav text-center py-2 skills-mobile">
        <h1>About skills</h1>
        <h3>Tap on a skill to see a detailed view.</h3>
        <div class="accordion" id="accordionExample">
                <div class="card border-0">
                    <div class="card-header p-0 border-0" id="headingHTML-CSS">
                        <h2 class="m-0">
                            <button class="skill-mobile-btn btn w-100 p-0 m-0 border-0 collapsed d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseHTML-CSS" aria-expanded="false" aria-controls="collapseHTML-CSS">
                                <div class="skill-main bg-main2 mr-2"></div>
                                HTML/CSS
                                <img class="skill-icon ml-3" src={% static "icons/html.svg" %}>
                                <img class="skill-icon" src={% static "icons/css.svg" %}>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseHTML-CSS" class="collapse" aria-labelledby="headingHTML-CSS" data-parent="#accordionExample">
                    <div class="card-body">
                        Learned HTML and CSS by myself and in Foundations of Programming 1, and Web Programming and Design class at Universitas Indonesia. I have also done several projects using HTML and CSS.
                    </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header p-0 border-0" id="headingJavascript">
                        <h2 class="m-0">
                            <button class="skill-mobile-btn btn w-100 p-0 m-0 border-0 collapsed d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseJavascript" aria-expanded="false" aria-controls="collapseJavascript">
                                <div class="skill-main bg-main2 mr-2"></div>
                                Javascript
                                <img class="skill-icon mx-3" src={% static "icons/javascript.svg" %}>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseJavascript" class="collapse" aria-labelledby="headingJavascript" data-parent="#accordionExample">
                    <div class="card-body">
                        I am fluent in Javascript and also JQuery to make several projects involving responsive and dynamic websites.
                    </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header p-0 border-0" id="headingPython">
                        <h2 class="m-0">
                            <button class="skill-mobile-btn btn w-100 p-0 m-0 border-0 collapsed d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapsePython" aria-expanded="false" aria-controls="collapsePython">
                                <div class="skill-main bg-main2 mr-2"></div>
                                Python
                                <img class="skill-icon mx-3" src={% static "icons/python.svg" %}>
                            </button>
                        </h2>
                    </div>
                    <div id="collapsePython" class="collapse" aria-labelledby="headingPython" data-parent="#accordionExample">
                    <div class="card-body">
                        Learned Python by myself and in Foundations of Programming 1 class at Universitas Indonesia, I am also able to use several frameworks for python such as Requests, Matplotlib, and Flask.
                    </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header p-0 border-0" id="headingDjango">
                        <h2 class="m-0">
                            <button class="skill-mobile-btn btn w-100 p-0 m-0 border-0 collapsed d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseDjango" aria-expanded="false" aria-controls="collapseDjango">
                                <div class="skill-main bg-main2 mr-2"></div>
                                Django
                                <img class="skill-icon mx-3" src={% static "icons/django.svg" %}>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseDjango" class="collapse" aria-labelledby="headingDjango" data-parent="#accordionExample">
                    <div class="card-body">
                        Learned the Django framework by myself, I am fluent in Django and is also able to create REST APIs through the Django REST Framework.
                    </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header p-0 border-0" id="headingReact">
                        <h2 class="m-0">
                            <button class="skill-mobile-btn btn w-100 p-0 border-0  m-0 collapsed d-flex justify-content-start align-items-center" type="button" data-toggle="collapse" data-target="#collapseReact" aria-expanded="false" aria-controls="collapseReact">
                                <div class="skill-main bg-main2 mr-2"></div>
                                React.js
                                <img class="skill-icon mx-3" src={% static "icons/react.svg" %}>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseReact" class="collapse" aria-labelledby="headingReact" data-parent="#accordionExample">
                    <div class="card-body">
                        Learned React by myself, I am also familiar with React Native to create mobile applications. I am also able to connect front end with back end APIs with React.
                    </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="container-fluid bg-main2 h-with-nav-half text-light">
        <h2 class="p-2 text-center">Education History</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 d-flex align-items-center justify-content-start flex-lg-column">
                    <div class="bg-main4 rounded-circle mb-2">
                        <div class="education-container d-flex align-items-center justify-content-center">
                            <img class="education-icon-ykb" src={% static "icons/yakobus.png" %}>
                        </div>
                    </div>
                    <div>
                        <h5 class="m-1 text-lg-center text-sm-left">SD Santo Yakobus</h5>
                        <p class="m-1 text-lg-center text-sm-left">2006 - 2012</p>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-center justify-content-start flex-lg-column">
                    <div class="bg-main4 rounded-circle mb-2">
                        <div class="education-container d-flex align-items-center justify-content-center">
                            <img class="education-icon-ykb" src={% static "icons/yakobus.png" %}>
                        </div>
                    </div>
                    <div>
                        <h5 class="m-1 text-lg-center text-sm-left">SMP Santo Yakobus</h5>
                        <p class="m-1 text-lg-center text-sm-left">2012 - 2015</p>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-center justify-content-start flex-lg-column">
                    <div class="bg-main4 rounded-circle mb-2">
                        <div class="education-container d-flex align-items-center justify-content-center">
                            <img class="education-icon-ykb" src={% static "icons/yakobus.png" %}>
                        </div>
                    </div>
                    <div>
                        <h5 class="m-1 text-lg-center text-sm-left">SMA Santo Yakobus</h5>
                        <p class="m-1 text-lg-center text-sm-left">2015 - 2019</p>
                    </div>
                </div>
                <div class="col-lg-3 d-flex align-items-center justify-content-start flex-lg-column">
                    <div class="bg-main4 rounded-circle mb-2">
                        <div class="education-container d-flex align-items-center justify-content-center">
                            <img class="education-icon" src={% static "icons/fasilkom.png" %}>
                        </div>
                    </div>
                    <div>
                        <h5 class="m-1 text-lg-center text-sm-left">Universitas Indonesia</h5>
                        <p class="m-1 text-lg-center text-sm-left">2015 - 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-main3 h-with-nav-half text-dark">
        <div class="row">
            <div class="col-lg-6 col-sm-12 p-3 d-flex align-items-center justify-content-center flex-column h-with-nav-half">
                <h3>Interested in hiring me?</h3>
                <h3>Let's talk!</h3>
                <br>
                <h3>Contact me</h3>
            </div>
            <div id="contact" class="col-lg-6 col-sm-12 h-with-nav-half-list p-3 d-flex align-items-center justify-content-center flex-column">
                <div class="contact-list d-flex align-items-lg-start align-items-center justify-content-center flex-column">
                    <a class="d-flex align-items-center justify-content-center my-1""
                        href="https://www.linkedin.com/in/steven-sim-a242a3194/">
                        <div class="contact-icon">
                            <img src={% static "icons/linkedin.svg" %}>
                        </div>
                        <h4 class="m-0 mx-1">LinkedIn Profile</h4>
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <a class="d-flex align-items-center justify-content-center my-1"
                        href="https://www.instagram.com/stevensim226">
                        <div class="contact-icon">
                            <img src={% static "icons/instagram.svg" %}>
                        </div>
                        <h4 class="m-0 mx-1">@stevensim226</h4>
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <div class="d-flex align-items-center justify-content-center my-1">
                        <div class="contact-icon">
                            <img src={% static "icons/email.svg" %}>
                        </div>
                        <h4 class="m-0 ml-1">stevensim226@gmail.com</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}

