<nav class="navbar navbar-expand-lg navbar-dark bg-main sticky-top">
    <div class="container">
        <i class="fas fa-laptop-code text-light"></i>
        <a class="navbar-brand" href="#">Steven's Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">

            {% if type == "home" %}
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#about">About</a>
                <a class="nav-item nav-link" href="#contact">Contact</a>
                <a class="nav-item nav-link" href={% url 'story_4:others' %}>Others</a>
                <a class="nav-item nav-link" href={% url 'story_1:home' %}>Story 1</a>
            {% elif type == "others" %}
                <a class="nav-item nav-link " href={% url 'story_4:home' %}>Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href={% url 'story_4:home' %}>About</a>
                <a class="nav-item nav-link" href={% url 'story_4:home' %}>Contact</a>
                <a class="nav-item nav-link active" href="#">Others</a>
                <a class="nav-item nav-link" href={% url 'story_1:home' %}>Story 1</a>
            {% elif type == "story_1" %}
                <a class="nav-item nav-link " href={% url 'story_4:home' %}>Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href={% url 'story_4:home' %}>About</a>
                <a class="nav-item nav-link" href={% url 'story_4:home' %}>Contact</a>
                <a class="nav-item nav-link" href={% url 'story_4:others' %}>Others</a>
                <a class="nav-item nav-link active" href="#">Story 1</a>
            {% endif %}
        </div>
        </div>
    </div>
    
</nav>