<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Navigation Site</title>
    <style>
        .bg-navigation{
            background-image: linear-gradient(45deg,gold,yellow);
        }
    </style>
  </head>
  <body class="bg-navigation">
    <div class="container vh-100 vw-100 d-flex justify-content-center align-items-center flex-column">
        <div class="w-lg-50 h-75 w-sm-75 bg-light rounded-lg p-3 text-center">
            <h1 class="mt-2">Welcome!</h1>
            <p class="mb-0">Hello! I'm Steven.</p>
            <p>Here you can find my Web Design and Programming Projects :)</p>

            <div class="text-left ml-lg-5">
                <ul>
                    <li><a href={% url 'story_1:home' %}>Story 1 : Intro to Web Development</a></li>
                    <li><a href={% url 'story_4:home' %}>Story 4 : Django Views and Templates</a></li>
                    <li><a href="http://ppw-stories-steven.herokuapp.com/story_5/">Story 5 : Django Models</a></li>
                    <li><a href="http://ppw-stories-steven.herokuapp.com/story_6/">Story 6 : Test Driven Development</a></li>
                    <li><a href="http://tk1-ppw.herokuapp.com/">Group Project 1 : Online Shop</a></li>
                </ul>
            </div>
        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>