{% extends "personal_site/base.html" %}
{% block content %}
{% load static %}
      <div class="jumbotron h-with-nav m-0 d-flex flex-column justify-content-center align-items-center text-center">
        <h1 class="display-4">So you decided to come here</h1>
        <hr class="my-3 border-2">
        <p>This page is dedicated to things I like</p>
        <p class="lead">
          <a class="btn btn-main btn-lg" href={% url 'story_4:home' %} role="button">Go back</a>
        </p>
      </div>

    <div class="bg-main2 pb-2">
      <div class="container text-center">
        <h1 class="py-3 m-0">What I like</h1>
        <div class="row text-center">
          <div class="col-lg-6 col-sm-12 p-3 h-with-nav-half d-flex justify-content-center align-items-center">
            <img class="anime-art" src={% static "images/nichijou.jpg" %}>
          </div>
          <div class="bg-main3 col-lg-6 col-sm-12 p-3 h-with-nav-half d-flex flex-column justify-content-center align-items-center rounded-lg">
            <h3 class="mb-4">Nichijou (日常)</h3>
            <p>Basically the sole thing that brought me into learning the Japanese Language</p>
            <p>It's very entertaining and I recommend anyone to watch it even if you're not into anime.</p>
            <a class="btn btn-main btn-md" href="https://myanimelist.net/anime/10165/Nichijou" role="button">See more about this</a>
          </div>
          <div class="col-lg-6 col-sm-12 p-3 h-with-nav-half mt-lg-2 d-flex justify-content-center align-items-center">
            <img class="anime-art" src={% static "images/tenki-cover.jpg" %}>
          </div>
          <div class="bg-main3 col-lg-6 mb-lg-2 mt-lg-2 col-sm-12 p-3 h-with-nav-half d-flex flex-column justify-content-center align-items-center rounded-lg">
            <h3 class="mb-4">Weathering With You (天気の子)</h3>
            <p>Even though I rarely watch movies especially anime movies, this one really kicks in, the graphics were just too good to be true.</p>
            <p>I watched this with my new college friends right before the first term started.</p>
            <a class="btn btn-main btn-md" href="https://myanimelist.net/anime/38826/Tenki_no_Ko?q=tenki%20no%20ko" role="button">See more about this</a>
          </div>
          <div class="col-lg-6 col-sm-12 p-3 h-with-nav-half mt-lg-2 d-flex justify-content-center align-items-center">
            <img class="anime-art" src={% static "images/kon.jpg" %}>
          </div>
          <div class="bg-main3 col-lg-6 mt-lg-2 col-sm-12 p-3 h-with-nav-half d-flex flex-column justify-content-center align-items-center rounded-lg">
            <h3 class="mb-4">K-ON! (けいおん)</h3>
            <p>I haven't yet finished this show but I already like it better than a lot that I have watched</p>
            <p>Not just the show, but I also really like the songs that they created</p>
            <a class="btn btn-main btn-md" href="https://myanimelist.net/anime/5680/K-On?q=k-on" role="button">See more about this</a>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center bg-main text-light">
      <h1 class="p-3 m-0">Vacation Pictures 2019</h1>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block carousel-main" src={% static "images/1.jpg" %} alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Osaka Castle</h5>
            <p>大阪</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block carousel-main" src={% static "images/2.jpg" %} alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Ginkaku-ji</h5>
            <p>銀閣寺、京都</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block carousel-main" src={% static "images/3.jpg" %} alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Akihabara at Night</h5>
            <p>秋葉原、東京</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block carousel-main" src={% static "images/4.jpg" %} alt="Fourth slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Shinjuku at Night</h5>
            <p>新宿、東京</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Modal Carousel Challenge -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-main border-0">
            <h5 class="modal-title text-light" id="exampleModalLabel">More Pictures</h5>
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-main2">
            <div id="carouselModal" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselModal" data-slide-to="0" class="active"></li>
                <li data-target="#carouselModal" data-slide-to="1"></li>
                <li data-target="#carouselModal" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block modal-pic" src={% static "images/architecture.jpg" %} alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>City</h5>
                    <p>from Pexels</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block modal-pic" src={% static "images/aurora1.jpg" %} alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Aurora Borealis</h5>
                    <p>from Pexels</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block modal-pic" src={% static "images/aurora2.jpg" %} alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Aurora Borealis</h5>
                    <p>from Pexels</p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselModal" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselModal" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer bg-main  border-0">
            <h4 class="mr-auto text-light">楽しんでね</h4>
            <button type="button" class="btn btn-main4" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Carousel Button -->
    <div class="p-3 d-flex justify-content-center bg-main2">
      <button type="button" class="btn btn-main" data-toggle="modal" data-target="#exampleModal">
        See more pictures :)
      </button>
    </div>

    <div class="h-with-nav bg-main3 d-flex flex-column justify-content-center align-items-center">
      <div class="container text-center">
            <h1 class="pt-3 mb-5">A bit back story of how I made friends in Universitas Indonesia</h1>
            <p>After getting accepted into UI (Universitas Indonesia) through SNMPTN, I knew life was going to change alot at college since none of my high-school friends will be in the same faculty here so I had to make friends.</p>
            <p>3 days after the school report card verification, I got invited to the group chat with newly accepted students, there was only ~200 people and most of them still don't know each other so we just said "Hi" and "Welcome" to anyone who had just gotten into the group.</p>
            <p>But then, there's this one person who keeps talking about japanese stuff (anime, manga, etc.) with the group, and that's where I know I have someone with a common interest, so I joined the conversation.</p>
            <p>Although in just a few hours, some people complained that the chat was getting flooded with unimportant talk, so in the aftermath we created a group for people who like Japanese stuff especially anime, manga, or learning the language.</p>
            <p class="m-0 pb-3">And that group, is where I made alot of friends that I still can rely on today.</p>
      </div>
    </div>
    {% endblock content %}