{% extends "personal_site/base.html" %}
{% block content %}
<div class="bg-main2">
    <div class="container h-onepage d-flex justify-content-center align-items-center flex-column text-light">
        <h1>It is now:</h1>
        <h1>{{ time }}</h1>

        <div class="d-flex justify-content-center align-items-center flex-column mt-3 time-japanese">
            <h1>現在は</h1>
            <h1>{{time|date:"Y"}}年{{time|date:"m"}}月{{time|date:"d"}}日</h1>
            <h1>{{am_or_pm}}{{time|date:"h"}}時{{time|date:"i"}}分</h1>
        </div>
    </div>
</div>
{% endblock content %}