{% extends "personal_site/base.html" %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% static "story_1/css/styles.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/21004379e8.js" crossorigin="anonymous"></script>
    

    <div class="flex">
        <div class="left-side">
            <section class="section1">
                <img class="pfp" src={% static "story_1/images/pfp.jpg" %}>
                <h1>Steven Sim</h1>
                <h5><u>Fullstack Web Developer</u></h5>
            </section>
            <section class="section2 flex-start">
                <div>
                    <h3>Contact me</h3>
                    <hr class="contact-hr">
                    <div class="contact-text flex-left">
                        <i class="far fa-envelope"></i>
                        <p>stevensim226@gmail.com</p>
                    </div>
                    <div class="contact-text flex-left">
                        <i class="fas fa-phone-square-alt"></i>
                        <p>0812 - XXXX - XXXX</p>
                    </div>
                    <div class="contact-text flex-left">
                        <i class="far fa-compass"></i>
                        <p>North Jakarta, Indonesia</p>
                    </div>
                    <div class="contact-text flex-left">
                        <i class="fab fa-line"></i>
                        <p>steven_sim420</p>
                    </div>
                </div>
                <div class="contact center column">
                    <a href="http://instagram.com/stevensim226">
                        <div class="contact-btn center">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/steven-sim-a242a3194/">
                        <div class="contact-btn center">
                            <i class="fab fa-linkedin"></i>
                        </div>
                    </a>
                    <a href="http://stevensim226.netlify.com">
                        <div class="contact-btn center">
                            <i class="fas fa-globe-asia"></i>
                        </div>
                    </a>
                    <a href="https://gitlab.com/stevensim226">
                        <div class="contact-btn center">
                            <i class="fab fa-gitlab"></i>
                        </div>
                    </a>
                </div>
            </section>
        </div>

        <div class="right-side">
            <section class="section3 center">
                <h1>Welcome to Steven's Website!</h1>
            </section>
            <section class="section4 center">
                <div class="about-me">
                    <i class="far fa-user"></i>
                    <h1>About me</h1>
                    <hr>
                    <p class="breadcrumb">18 years old / Jakarta, Indonesia</p>
                    <p>
                        Hello there!
                        My name is Steven, I am a student majoring Computer Science at Universitas Indonesia,
                        currently focusing on Fullstack web development and also learning embedded systems!
                    </p>
                    <p>
                        I am also interested in learning languages! both human and computer languages,
                        I am a native speaker in Bahasa Indonesia, and is fluent in both English and also Japanese.
                    </p>
                    <p>
                        As for my hobby, I like programming especially in fullstack web development,
                        I have learned several frameworks related to it such as Django, React.js etc.
                        and is also familiar with Javascript
                    </p>
                </div>
                <div class="jakun center column">
                    <img class="jakun-img" src={% static "story_1/images/jakun.jpg" %}>
                    <p class="caption">Me wearing UI's alma mater jacket in front of the rektorat building</p>
                </div>
            </section>
            <section class="section5 center">
                <div class="center column">
                    <i class="fas fa-school"></i>
                    <p class="inline">Education History</p>
                    <table>
                        <tr>
                            <th>School</th>
                            <th>Year</th>
                        </tr>
                        <tr>
                            <td>SD St. Yakobus</td>
                            <td>2006 - 2012</td>
                        </tr>
                        <tr>
                            <td>SMP St. Yakobus</td>
                            <td>2012 - 2016</td>
                        </tr>
                        <tr>
                            <td>SMA St. Yakobus</td>
                            <td>2016 - 2019</td>
                        </tr>
                        <tr>
                            <td>Universitas Indonesia</td>
                            <td>2019 -</td>
                        </tr>
                    </table>
                </div>
                <div class="center column">
                    <i class="fas fa-male"></i>
                    <p class="inline">Personal Information</p>
                    <table>
                        <tr>
                            <th colspan="2">Data</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Steven Sim</td>
                        </tr>
                        <tr>
                            <td>NPM</td>
                            <td>1906293322</td>
                        </tr>
                        <tr>
                            <td>Class of</td>
                            <td>2019 (Maung)</td>
                        </tr>
                        <tr>
                            <td>Hobby</td>
                            <td>Programming</td>
                        </tr>
                    </table>
                </div>
                <div class="center column">
                    <i class="fas fa-laptop-code laptop-skills"></i>
                    <p class="inline">Skills</p>
                    <table>
                        <tr>
                            <th>Skill</th>
                            <th>Language</th>
                        </tr>
                        <tr>
                            <td>Programming</td>
                            <td>Python, Java, Javascript</td>
                        </tr>
                        <tr>
                            <td>Front-end</td>
                            <td>HTML, CSS, React.js</td>
                        </tr>
                        <tr>
                            <td>Back-end</td>
                            <td>Django</td>
                        </tr>
                        <tr>
                            <td>Embedded Systems</td>
                            <td>Raspberry Pi</td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
    {% endblock content %}